*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rowdies;
}
html,body{
    height: 100%;
}

.center{
    width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 90px;
    background-color: #ff6c1f;
}

header img{
    width: 7.5%;
    height: 7.5%;
    margin-left: 15px;
}

.container-banner{
    width: 100%;
    height: 557px;
    background-image: url(../assets/banner2.png);
    background-size: cover;
    background-position: center;    
}

.container-banner > .center{
    height: 100%;
  
}

.form{
    padding: 10px;
    height: calc(100% + 30px); 
    width: 400px;
    background-color: white;
    float: right;
    position: relative;
    top: -15px;

    border: 8px solid #f0a277;
    font-size: 50px;

    
}

.form h2{
    font-weight: 700;
    
    color: #110b79;
    font-size: 20px;
    text-align: center;

    border: 2px solid #110b79;
    padding: 4px;

}

.input-container{
    margin-top: 20px;
}
.input-container span,.form p{
    display: inline-block;
    width: 100%;
    color: #110b79;
    font-size: 17px;
    font-weight: 200;
}
.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
}
.form .input-submit-container{
    text-align: center;
}
.form input[type=submit]{
    width: 280px;
    height: 56px;
    font-size: 25px;
    color: #110b79;
    background-color: #ff6c1f;
    display: inline-block;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 5px solid #e58450;
}

.form input[type=submit]:hover{
    background-color: #d35c1c;
}